<div class="todolist">
    <h3>List of Taks Todo:</h3>
    <ul *ngIf="tasks.length > 0">
        <li *ngFor="let task of tasks">{{task.task}}
            <div class="tools">
                <button class="complete" (click)="onComplete(task._id)"><i class="fas fa-check"></i></button>
                <button class="edit" (click)="onEdit(task._id)">EDIT</button>
                <button class="delete" (click)="onDelete(task._id)"><i class="fas fa-times"></i></button>
            </div>
        </li>
    </ul>
    <p *ngIf="tasks.length === 0">There are no tasks yet!</p>
</div>
