/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --deep-dark: rgb(26, 26, 26);
    --light-dark: rgb(79, 82, 92);
    --light-blue: rgb(0, 132, 255);
    --dark-blue: rgb(2, 84, 161);
    --light: rgb(245, 245, 245);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}

h1 {
    color: var(--light);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.fas {
	pointer-events: none;
}

.todo {
    width: 800px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    text-align: center;
}
